.app {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

div{
  text-align: center;
}

ul .todo-item{
  font-size: 5vh;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.todo-item .icon{
  margin-left: 2vw;
}

form .input{
  width: 35vw;
  font-size: 5vh;
  font-family: 'Courier New', Courier, monospace;
}

.title{
  font-size: 7.5vh;
  margin:  auto;
  margin-bottom: 5vh;
}

.todo-item{
  position: relative;
}

.line-through{
  text-decoration: line-through;
}
